<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>

    <form action="/madlib">
        <label>Enter a person's name: </label>
        <input type="text" name="game_person">

        <label>Enter a color: </label>
        <input type="text" name="game_color">

        <label>Enter a noun: </label>
        <input type="text" name="game_noun">

        <label>Enter an adjective: </label>
        <input type="text" name="game_adejective">

      <input type="submit">
    </form>
</body>
</html>