<!doctype html>
<html>
<head>
  <title>Create a MadLib Game</title>
</head>
<body>

    <form action="/madlib">
        <h1>Give me some information so we can play MadLibs!</h1>
    
        <div>
            <label>Enter a person's name: </label>
            <input type="text" name="name_attr_person">
        </div>

        <div>
            <label>Enter a color: </label>
            <input type="text" name="name_attr_color">
        </div>

        <div>
            <label>Enter a noun: </label>
            <input type="text" name="name_attr_noun">
        </div>

        <div>
            <label>Enter an adjective: </label>
            <input type="text" name="name_attr_adjective">
        </div>

      <input type="submit">
    </form>
</body>
</html>