<!doctype html>
<html>
<head>
  <title>Create a MadLib Game</title>
</head>
<body>

    <form action="/madlib">
        <h1>Give me some information so we can play MadLibs!</h1>
    
        <div>
            <label>Enter a person's name: </label>
            <input type="text" name="name_attr_person">
        </div>

        <div>
            <label>Enter a color: </label>
            <input type="text" name="name_attr_color">
        </div>

        <div>
            <label>Enter a noun: </label>
            <input type="text" name="name_attr_noun">
        </div>

        <div>
            <label>Enter an adjective: </label>
            <input type="text" name="name_attr_adjective">
        </div>

        <div>
            Choose a weapon:

            <input type="radio" name="name_attr_weapon" value="sword">
            <label> sword </label>

            <input type="radio" name="name_attr_weapon" value="sling shot">
            <label> slingshot </label>

            <input type="radio" name="name_attr_weapon" value="stick">
            <label> stick </label>
        </div>

        <div>
            Which dessert(s) do you like? (Please choose at least one of the below options)

            <input type="checkbox" name="name_attr_dessert" value="mocha cheesecake">
            <label>Mocha Cheesecake</label>

            <input type="checkbox" name="name_attr_dessert" value="lemon pound cake">
            <label>Lemon Pound Cake</label>

            <input type="checkbox" name="name_attr_dessert" value="triple berry pie">
            <label>Triple Berry Pie</label>

            <input type="checkbox" name="name_attr_dessert" value="no">
            <label>None of These</label>
        </div>

        <div>
            Choose a title:

            <select name="name_attr_prefix">
                <option value="sir">Lord</option>
                <option value="madam">Lady</option>
                <option value="chief">Chief</option>
                <option value="dr">Dr.</option>
                <option value="the_honorable">The Honorable</option>
            </select>
        </div>

      <input type="submit">
    </form>
</body>
</html>