<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadLib Fun!</title>
</head>
<body>
    <p>There once was a {{ name_attr_color }} {{ name_attr_noun }} sitting in the Hackbright Lab.
        When {{ name_attr_prefix }} {{ name_attr_person }} used a {{ name_attr_weapon}} on it, it 
        burst into flames in a totally {{ name_attr_adjective }} way. {{name_attr_person }} went to eat
        {{ name_attr_dessert }} dessert.</p>
</body>
</html>